<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SITE RESPONSIVE </title>

    <link rel="icon" type="image/x-icon" href="../favicon.jpg">

    <!-- FONTAWASOME CDN LINK-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- box icons links -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="'stylesheet'">

    <!-- remix icons link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mystery+Quest&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rochester&family=Rubik+Iso&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_forward">




    <!-- SWIPER-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">



    <!-- CUSTUMER CSS FILE LINKS-->
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet" href="../CSS/lightbox.min.css">


</head>

<body>
    <header class="logo">
        <a href="#à" class="brand"> <img src="../assets/images/logo.gif" alt="Logo">Travel</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="../index.html" class="index">Home</a>
                <a href="../views/Sobre.html" class="sobre">Sobre</a>
                <a href="../views/Producto.html" class="producto">Galeria</a>
                <a href="../views/Presupuesto.html" class="presu">Presupuesto</a>
                <a href="../views/Contacto.html" class="contact">Contacto</a>

            </div>
        </div>

    </header>

    <section class="about">

        <div class="wrapper">

            <div class="container">
                <div class="title">
                    <h2> About Us</h2>
                </div>

                <div class="about-us">
                    <div class="article">



                        <img src="../assets/images/C.jpg" alt="image" width="200" height="200">

                <!--Acerca de la empresa. Aquí encontrará los países donde tenemos oficinas de viajes.-->
                        <blockquote>
                            <p class="text"> <strong>¿Te gusta viajar? Estás en el lugar indicado</strong>.
                                <br>
                                <br>
                                El AfricaTraveling, somos una agencia de viajes fundada en 2015. Nuestra misión es que
                                nuestros
                                clientes disfruten de un viaje placentero. Tanto es así que viajamos durante todo el año
                                en
                                grupos reducidos de un máximo de 15 personas, de edades similares y con la misma pasión
                                por
                                viajar. El grupo siempre cuenta con un coordinador, que, si tuviéramos que describirlo,
                                sería
                                "el mejor compañero de viaje que puedas desear". Viajamos a todos los países africanos;
                                tu
                                confianza en nuestro trabajo es nuestra prioridad.
                            </p>.<br>

                        </blockquote>
                        
              <!--Eres un invitado y no un turista.-->
                        <div class="animated-text">
                            Bievenido al <span></span>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </section>












 <!--Pie de página donde encontramos iconos y enlaces para páginas de redes sociales-->

    <footer>
        <div class="footerContainer">
            <div class="socialIcons">
                <a href="https://www.facebook.com/marildam.mark"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@dashurianukshuhetkurre9533"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="footerBotton">
            <p> Copyright &copy;2025: Done by Daniel</p>
            <a href="https://www.bankofengland.co.uk/legal"><i class=""> legal</i></a> and <a
                href="https://www.bankofengland.co.uk/legal/privacy"><i class=""> privacy</i></a>

        </div>


    </footer>











    <!--- COSTUMER JS FILE  LINKS-->

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../JS/lightbox-plus-jquery.min.js"></script>

    <script src="../JS/script.js"></script>
</body>

</html>